<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Cent</title>
    <script src="https://cdn.jsdelivr.net/gh/centrifugal/centrifuge-js@2.8.3/dist/centrifuge.min.js"></script>
</head>

<body>
<div id="cent">Cent</div>
<script type="text/javascript">
const container = document.getElementById('cent')
const centrifuge = new centrifuge("")
</script>
</body>

</html>
</body>
</html>